<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="car1" type="CodeFluent.Runtime.CodeFluentConfigurationSectionHandler, CodeFluent.Runtime" />
  </configSections>
  <car1 connectionString="Server=GIOVANA-PC\SQLEXPRESS;Database=cfentities01;Integrated Security=true;Application Name=SoftFluent.Car1"/>
</configuration>